
body {
    background-color: lightgray;
}
.outerDiv {
    display:flex;
    flex-wrap:wrap;
}

.projects {
    padding: auto;
    text-align: center;
    width: 30%;
    background-color: rgb(74, 144, 230);
}

a {
    color:white;
}

#title {
    font-family: sans-serif;
    white-space: nowrap;
    cursor: default;
}